src/main/mule/movieInterface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <apikit:config name="filmvault_movies-api-config" api="resource::f58e0416-d4a2-4186-a5f4-68878368bff4:filmvault_movies-api:1.0.1:raml:zip:filmvault_movies-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="filmvault_movies-api-main">
        <http:listener path="/api/*" config-ref="HTTP_Movie_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="filmvault_movies-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="filmvault_movies-api-console">
        <http:listener path="/console/*" config-ref="HTTP_Movie_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="filmvault_movies-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\movies\(ID):application\json:filmvault_movies-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="50b42120-af9e-458b-8c32-c77300bea939" name="putMovie"/>
<!-- [STUDIO:"Transform Message"]		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="ID">attributes.uriParams.'ID'</ee:set-variable>
            </ee:variables>
        </ee:transform> [STUDIO] -->
<!-- [STUDIO:"Transform Message"]        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
{
  message: "Movie details changed"
}&#93;&#93;></ee:set-payload>
            </ee:message>
        </ee:transform> [STUDIO] -->
    </flow>
    <flow name="delete:\movies\(ID):filmvault_movies-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="7204aaa0-79b1-4a69-a1a3-0a2029cc97eb" name="deleteMovie"/>
<!-- [STUDIO:"Transform Message"]		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="ID">attributes.uriParams.'ID'</ee:set-variable>
            </ee:variables>
        </ee:transform> [STUDIO] -->
<!-- [STUDIO:"Transform Message"]        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
{
  message: "Movie deleted"
}&#93;&#93;></ee:set-payload>
            </ee:message>
        </ee:transform> [STUDIO] -->
    </flow>
    <flow name="patch:\movies\(ID):application\json:filmvault_movies-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="1670db19-b80e-4781-a932-ce495ee728af" name="patchMovie"/>
<!-- [STUDIO:"Transform Message"]		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="ID">attributes.uriParams.'ID'</ee:set-variable>
            </ee:variables>
        </ee:transform> [STUDIO] -->
<!-- [STUDIO:"Transform Message"]        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
{
  message: "Movie details updated"
}&#93;&#93;></ee:set-payload>
            </ee:message>
        </ee:transform> [STUDIO] -->
    </flow>
    <flow name="get:\movies:filmvault_movies-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="17abf364-694c-4761-ac60-09dbbdf98c4a" name="getMovies"/>
<!-- [STUDIO:"Transform Message"]		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
[
  {
    ID: 1,
    adult: false,
    title: "The Matrix",
    overview: "Neo wakes up in a computer made world as a chosen one",
    genres: [
      "sci-fi", 
      "action"
    &#93;,
    releaseDate: "1999-03-24",
    runtime: 136,
    posterPath: "/movieposters/the_matrix.jpg",
    lastUpdate: "2024-01-01T22:00:00",
    regions: [
      "pl-PL", 
      "en-US"
    &#93;,
    VODPlatforms: [&#93;
  }, 
  {
    ID: 2,
    adult: false,
    title: "Revolver",
    overview: "Jake, the con artist, with the help of two strangers, ruins the local mobster's life",
    genres: [
      "drama", 
      "crime", 
      "action"
    &#93;,
    releaseDate: "2005-11-09",
    runtime: 115,
    posterPath: "/movieposters/revolver2005.jpg",
    lastUpdate: "2024-02-01T22:37:20",
    regions: [
      "pl-PL", 
      "en-GB"
    &#93;,
    VODPlatforms: [
      {
        ID: 1,
        name: "Netflix",
        logoPath: "/vod/netflix_logo.png",
        vodURL: "netflix.com",
        active: true
      }, 
      {
        ID: 2,
        name: "HBO",
        logoPath: "/vod/hbogo_logo.png",
        vodURL: "hbogo.com",
        active: true
      }
    &#93;
  }
&#93;&#93;&#93;></ee:set-payload>
            </ee:message>
        </ee:transform> [STUDIO] -->
    </flow>
    <flow name="get:\movies\(ID):filmvault_movies-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="a9390b14-0cf4-497c-8a01-94e6b89de1e1" name="getMovieByID"/>
<!-- [STUDIO:"Transform Message"]		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="ID">attributes.uriParams.'ID'</ee:set-variable>
            </ee:variables>
        </ee:transform> [STUDIO] -->
<!-- [STUDIO:"Transform Message"]        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
{
  ID: 1,
  adult: false,
  title: "The Matrix",
  overview: "Neo wakes up in a computer made world as a chosen one",
  genres: [
    "sci-fi", 
    "action"
  &#93;,
  releaseDate: "1999-03-24",
  runtime: 136,
  posterPath: "/movieposters/the_matrix.jpg",
  lastUpdate: "2024-01-01T22:00:00",
  regions: [
    "pl-PL", 
    "en-US"
  &#93;,
  VODPlatforms: [
    {
      value: {
        ID: 1,
        name: "Netflix",
        logoPath: "/vod/netflix_logo.png",
        vodURL: "netflix.com",
        active: true
      }
    }
  &#93;
}&#93;&#93;></ee:set-payload>
            </ee:message>
        </ee:transform> [STUDIO] -->
    </flow>
    <flow name="post:\movies:application\json:filmvault_movies-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="a49c8bd2-b9e6-4647-b7c5-22515e7a7b67" name="postMovie"/>
<!-- [STUDIO:"Transform Message"]		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
{
  message: "Movie package successfully added"
}&#93;&#93;></ee:set-payload>
            </ee:message>
        </ee:transform> [STUDIO] -->
    </flow>
</mule>
